*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #D0D8DC;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/*Left Side*/

h1 {
  color: #FFFFFF;
  font-size: 70px;
  text-align: center;
  width: 100%;
}

.carabiners {
  line-height: 40px;
}

.left {
  background-color: #495A63;
  width: 49.5%;
}

#web-title {
  display: block;
}

/*Page Setup*/

.left, 
.right {
  display: inline-block;
  height: 100vh;
  margin: auto;
}

/*Right Side */

.right {
  float: right;
  width: 50%;
}

.bookmark-ul {
  padding-left: 0;
}

.site-info-li {
  border: 2px solid #657C89;
  background-color: #FFFFFF;
  height: 207px;
  list-style: none;
  margin: 26px auto;
  padding: 8px 19px 19px 20px;
  width: 583px;
}

h2 {
  color: #3D5059;
  font-size: 2.2em;
  font-weight: 800;
  margin: 0;
}

#top-site-break {
  margin-bottom: 23px;
  margin-top: 9px;
}

a {
  color: #3D5059;
  font-size: 28px;
  text-decoration: none;
}

#bottom-site-break {
  margin-top: 28px;
}

.site-btn {
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  color: #3D5059;
  cursor:pointer;
  font-size: 19px;
  outline:none;
  overflow: hidden;
}

#site-read {
  position: relative;
}

#site-delete {
  float: right;
}

@media (max-width: 900px) {
  .left,
  .right {
    width:100%;
  }
}



