*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #D0D8DC;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/*Left Side*/

h1 {
  color: #FFFFFF;
  font-size: 73px;
  margin-top: 252px;
  text-align: center;
  width: 100%;
}

.carabiners {
  line-height: 40px;
}

.left {
  background-color: #495A63;
  width: 49.5%;
}

#web-title {
  display: block;
  font-size: 30px;
  height:61px;
  margin-left: 6%;
  padding-left: 19px;
  width: 90%;
}

#web-url {
  display: block;
  font-size: 30px;
  height: 61px;
  margin-top: 61px;
  margin-left: 6%;
  padding-left: 19px;
  width: 90%;
}

#web-submit {
  width: 90%;
  height: 61px;
  margin-top: 61px;
  margin-left: 6%;
  border-radius: 0;
  background-color: #F7C244;
  color: #FFFFFF;
  font-weight: 800;
  font-size: 18px;
}

/*Page Setup*/

.left, 
.right {
  display: inline-block;
  height: 100vh;
  margin: auto;
}

/*Right Side */

.card-count {
  border: 5px solid #F7C244;
  height: 80px;
  margin: 26px auto;
  padding: 10px 12px;
  width: 50%;
  text-align: center;
  background-color: #FFFFFF;
  color: #455A64;
}

#error,
#read-display {
  margin: 0px;
  font-weight: 800;
}

#read-display {
  padding-top: 4px;
}

.right {
  float: right;
  width: 50%;
  overflow-y: scroll;
}

.bookmark-ul {
  padding-left: 0;
}

.site-info-li {
  border: 2px solid #657C89;
  background-color: #FFFFFF;
  height: 207px;
  list-style: none;
  margin: 26px auto;
  padding: 8px 19px 19px 20px;
  width: 80%;
}

h2 {
  color: #3D5059;
  font-size: 2.2em;
  font-weight: 800;
  margin: 0;
}

#top-site-break {
  margin-bottom: 23px;
  margin-top: 9px;
}

a {
  color: #3D5059;
  font-size: 28px;
  text-decoration: none;
}

a:hover,
#site-read:hover {
  text-decoration: underline solid #FFC107;
  font-weight: 800;
}

#site-delete:hover {
  text-decoration: underline solid #FFC107;
}

#bottom-site-break {
  margin-top: 28px;
}

.site-btn {
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  color: #3D5059;
  cursor:pointer;
  font-size: 19px;
  outline:none;
  overflow: hidden;
}

#site-read {
  position: relative;
}

#site-delete {
  float: right;
}

.read {
  color: #F05A28;
  font-size: 800;
  text-decoration: underline solid #CFD8DC;
}

.readli {
  background-color: #F2F4F4;
}

@media (max-width: 900px) {
  .left,
  .right {
    width:100%;
  }

  .left {
    height: 50%;
  }

  h1 {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  #web-url {
    margin-top: 37px;
  }

  #web-submit {
    margin-top: 37px;
    margin-bottom: 37px;
  }
}

@media (max-width: 1100px) {
  .card-count {
    width: 65%;
  }
}

@media (max-width: 1050px) {
  .heading {
    margin-top: 122px;
  }
}

@media (max-width: 440px) {
  .card-count {
    width: 80%;
  }
}



